<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="lib/angular-material/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="angularApp" ng-cloak>
    <div layout="row" layout-align="center center">
        <div flex="70" flex-sm="100">
            <div ng-controller="FormCtrl" layout="column" ng-cloak class="md-inline-form">
                <md-content layout-gt-sm="row">
                    <md-toolbar class="md-hue-2">
                        <div class="md-toolbar-tools">
                            <h2>
                        <span>Representante INTERBLOCK</span>
                    </h2>
                            <span flex></span>
                            <md-button class="md-icon-button" aria-label="More">
                                <md-icon class="material-icons">more_vert</md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                </md-content>
                <!-- <md-content layout-padding style="background-color: #fff"> -->
                <!-- style para teste.-->
                <div layout-padding class="div-form">
                    <center>
                        <h3>Cliente</h3>
                    </center>
                    <form name="userForm">
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Nome / Razão Social</label>
                                <input ng-model="user.nome">
                            </md-input-container>
                            <md-datepicker ng-model="user.nascimento" md-placeholder="Dt. Nascimento">
                            </md-datepicker>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex="80">
                                <label>Endereço</label>
                                <input ng-model="user.endereco">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Complemento</label>
                                <input ng-model="user.firstName">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex="40">
                                <label>Bairro</label>
                                <input ng-model="user.bairro">
                            </md-input-container>
                            <md-input-container class="md-block" flex="40">
                                <label>Cidade</label>
                                <input ng-model="user.cidade">
                            </md-input-container>
                            <md-input-container class="md-block" flex="20">
                                <label>UF</label>
                                <input ng-model="user.uf">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex="35">
                                <label>Telefone Residencial</label>
                                <input ng-model="user.tel1">
                            </md-input-container>
                            <md-input-container class="md-block" flex="35">
                                <label>Telefone Comercial</label>
                                <input ng-model="user.tel2">
                            </md-input-container>
                            <md-input-container class="md-block" flex="35">
                                <label>Telefone Celular</label>
                                <input ng-model="user.tel3">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex="100">
                                <label>E-mail</label>
                                <input ng-model="user.email">
                            </md-input-container>
                        </div>
                        <center>
                            <h3>Véiculo</h3>
                        </center>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex="55">
                                <label>Veículo (Marca/Modelo)</label>
                                <input ng-model="veiculo.modelo">
                            </md-input-container>
                            <md-input-container class="md-block" flex="15">
                                <label>Cor</label>
                                <input ng-model="veiculo.cor">
                            </md-input-container>
                            <md-input-container class="md-block" flex="15">
                                <label>Ano</label>
                                <input ng-model="veiculo.ano">
                            </md-input-container>
                            <md-input-container class="md-block" flex="15">
                                <label>Placa</label>
                                <input ng-model="veiculo.placa">
                            </md-input-container>
                        </div>
                        <center>
                            <h3>Equipamentos</h3>
                        </center>
                        <div layout-gt-sm="row" ng-repeat="equipamento in equipamentos">
                            <md-input-container class="md-block" flex="55">
                                <label>Equipamento</label>
                                <input ng-model="equipamento.nome" disabled="">
                            </md-input-container>
                            <md-input-container class="md-block" flex="15">
                                <label>Valor a vista</label>
                                <input ng-model="equipamento.valorVista">
                            </md-input-container>
                            <md-input-container class="md-block" flex="15">
                                <label>Pag. prazo</label>
                                <input ng-model="equipamento.pagamentroPrazo">
                            </md-input-container>
                            <md-input-container class="md-block" flex="15">
                                <label>Locação Mensal</label>
                                <input ng-model="equipamento.locacao">
                            </md-input-container>
                        </div>
                        <center>
                            <h3>Serviços</h3>
                        </center>
                        <div layout-gt-sm="row" ng-repeat="servico in servicos">
                            <md-input-container class="md-block" flex="55">
                                <label>Serviço</label>
                                <input ng-model="servico.nome" disabled="">
                            </md-input-container>
                            <md-input-container class="md-block" flex="15" ng-if="servico.comodato === false">
                                <label>Valor a vista</label>
                                <input ng-model="servico.valorVista">
                            </md-input-container>
                            <md-input-container class="md-block" flex="15" ng-if="servico.comodato === false">
                                <label>Pag. prazo</label>
                                <input ng-model="servico.pagamentroPrazo">
                            </md-input-container>
                            <md-input-container class="md-block" flex="15" ng-if="servico.comodato === false">
                                <label>Locação Mensal</label>
                                <input ng-model="servico.locacao">
                            </md-input-container>
                            <md-input-container class="md-block" flex="15" ng-if="servico.comodato === true">
                                <label></label>
                                <label>COMOTADO</label>
                            </md-input-container>
                        </div>
                        <center>
                            <h3>Condições de pagamento</h3>
                        </center>
                        <div layout-gt-sm="row">
                            <md-radio-group ng-model="pagamento.tipo">
                                <md-radio-button value="dinheiro" class="md-primary">Dinheiro</md-radio-button>
                                <md-radio-button value="cheque" class="md-primary">Cheque</md-radio-button>
                            </md-radio-group>
                            <md-input-container class="md-block" flex="80">
                                <label>Entrada</label>
                                <input ng-model="pagamento.entrada">
                            </md-input-container>
                            <md-input-container class="md-block" flex="35">
                                <label>N° de parcelas da entrada</label>
                                <input ng-model="pagamento.nParcelasEntrada">
                            </md-input-container>
                            <md-input-container class="md-block" flex="35">
                                <label>Valor por parcelas da entrada</label>
                                <input ng-model="pagamento.nValorParcelaEntrada">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row" ng-if="pagamento.tipo === 'cheque'">
                            <md-input-container class="md-block" flex="35">
                                <label>Banco</label>
                                <input ng-model="pagamento.banco">
                            </md-input-container>
                            <md-input-container class="md-block" flex="35">
                                <label>Numeração dos cheques</label>
                                <input ng-model="pagamento.numeracaoCheque">
                            </md-input-container>
                            <md-datepicker ng-model="pagamento.primeiroVencimento" md-placeholder="1°  vencimento">
                            </md-datepicker>
                        </div>
                        <center>
                            <h4>Assumindo ainda</h4>
                        </center>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex="35">
                                <label>N° de parcelas</label>
                                <input ng-model="pagamento.nParcelas">
                            </md-input-container>
                            <md-input-container class="md-block" flex="35">
                                <label>Valor</label>
                                <input ng-model="pagamento.valorParcela">
                            </md-input-container>
                        </div>
                        <center>
                            <h3>Vigência do contrato</h3>
                        </center>
                        <div layout-gt-sm="row">
                            <md-datepicker ng-model="contrato.dataInstalacao" md-placeholder="Dt. de Instalação">
                            </md-datepicker>
                            <md-datepicker ng-model="contrato.dataInicio" md-placeholder="Início">
                            </md-datepicker>
                            <md-datepicker ng-model="contrato.dataTermino" md-placeholder="Término">
                            </md-datepicker>
                            <md-datepicker ng-model="contrato.dataRenovacao" md-placeholder="Renovação">
                            </md-datepicker>
                        </div>
                        <center>
                            <h3>Representate</h3>
                        </center>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Representante</label>
                                <input ng-model="representante.nome">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Vendedor</label>
                                <input ng-model="representante.vendedor">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Senha do representante</label>
                                <input ng-model="representante.senha" type="password">
                            </md-input-container>
                        </div>
                    </form>
                </div>
                <!-- </md-content> -->
            </div>
        </div>
    </div>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-aria/angular-aria.min.js"></script>
    <script src="lib/angular-messages/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="lib/angular-material/angular-material.min.js"></script>
    <!-- Angular Route Library -->
    <script src="lib/angular-route/angular-route.min.js"></script>
    <!-- Angular App -->
    <script src="js/app.js"></script>
</body>

</html>
